.container{
  background-color: var(--bgSoft);
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.top{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addButton{
  padding: 10px;
  background-color: #ffffff;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
}

.addButton:hover{
  background-color: #d4cfcf;
}

.table{
  width: 100%;
}

.table td{
  padding: 10px;
}

.table thead{
  background-color: var(--bg);
  color: var(--text);
}

.table tbody tr{
  border-bottom: 1px solid var(--bg);
}

.user{
  display: flex;
  align-items: center;
  gap: 10px;
}

.userImage{
  border-radius: 50%;
  object-fit: cover;
}

.buttons{
  display: flex;
  gap: 10px;
}

.button{
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--text);
  border: none;
  cursor: pointer;
}

.view{
  background-color: #ff007f;
}

.delete{
  background-color: crimson;
}

.active{
  background-color: #4ad341;
  padding: 4px;
  border-radius: 5px;
}


.addTest {
  background-color: #004fff;
}

